<% layout('layouts/boilerplate') %>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>You got a serious danger here</p>
  <hr />
  <p class="mb-0"><%= err.message %></p>
</div>
